
<ion-content>
    <ion-item lines="none">
      <ion-title class="ion-text-center ion-no-border" size="medium">Bienvenido {{username}}</ion-title>
    </ion-item>
    <h6 class="ion-text-center">Organiza tu viaje de vuelta a casa</h6>
    <ion-item>
      <ion-select label="Elija una opción" label-placement="floating" [(ngModel)]="selectedOption">
        <ion-select-option value="conductor">Conductor</ion-select-option>
        <ion-select-option value="pasajero">Pasajero</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input label="Ingrese número telefonico" type="tel" placeholder="+56" maxlength="11"></ion-input>
    </ion-item>
    <div class="cta">
      <ion-button fill="outline" (click)="navigateToPage()">Continuar</ion-button>
    </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title size="small">Te LLevo APP <ion-icon name="car-sport-outline"></ion-icon> </ion-title>
  </ion-toolbar>
</ion-footer>
